@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Poppins:wght@400;700&display=swap');

/* Reset default margin and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Define common styles for text */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    color: #333;
}

/* Header styles */
header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 8px;
}

header h3 {
    font-size: 1.2rem;
    margin-bottom: 24px;
}

/* Navigation styles */
nav {
    width: 100%;
    background-color: #00448e;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Wrap menu items on smaller screens */
    justify-content: center; /* Center-align menu items */
    gap: 10px;
    margin: 20px 0; /* Add spacing above and below the navigation */
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 8px 16px;
    display: block;
    background-color: #00448e;
    transition: background-color 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #005ec3;
}

/* Section styles */
section {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 24px;
    margin: 0;
}

section p {
    margin: 10px 0;
}

/* Link styles */
a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0061c8;
}

/* Copy button styles */
.copyBtn {
    font-family: 'Poppins';
    border: none;
    background-color: #007bff;
    border: 1px solid #005bbb;
    padding: 4px 12px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

.copyBtn:hover {
    background-color: #0069da;
    transition: 0.2s;
}

.copyBtn:active {
    transform: scale(1.1);
    transition: 0.1s;
}

/* Social media icon styles */
#social-media {
    text-align: center;
    margin-top: 20px;
}

#social-media ul {
    list-style: none;
    padding: 0;
}

#social-media li {
    display: inline-block;
    margin: 0 10px;
}

#social-media a {
    text-decoration: none;
    font-size: 24px;
    color: #333;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 600px) {
    nav ul {
        flex-direction: column; /* Display menu items vertically for smaller screens */
        align-items: center; /* Center-align menu items */
    }

    nav ul li {
        margin-right: 0; /* Remove spacing between menu items */
    }

    header {
        padding: 10px; /* Decrease padding for the header */
    }

    header h1 {
        font-size: 1.5rem; /* Decrease font size for h1 */
    }

    header h3 {
        font-size: 1rem; /* Decrease font size for h3 */
    }

    #social-media li {
        margin: 0 5px; /* Adjust spacing for social media icons */
    }
}
